//
// Mixins
// --------------------------------------------------


// @mixins
//
// Transformations
//
// Deprecated as of v3.2.0 due to the introduction of autoprefixer (will be removed in v4)
@mixin translateY($translateY) {
	-webkit-transform: translateY($translateY);
		 -moz-transform: translateY($translateY);
			-ms-transform: translateY($translateY);
					transform: translateY($translateY);
}


// @mixins
//
// Deprecated as of v3.2.0 due to the introduction of autoprefixer (will be removed in v4)
@mixin transition-transform-opacity($transition, $opacity) {
  -webkit-transition: -webkit-transform $transition, opacity $opacity;
     -moz-transition: -moz-transform $transition, opacity $opacity;
  				transition: transform $transition, opacity $opacity;
}


// @mixins
//
// Absolute position
@mixin absolute-pos($top: 0, $left: 0) {
	position: absolute;
	top: $top;
	left: $left;
}


// @mixins
// 
// Border style
@mixin border-style($bw: 0, $bs: solid, $bc: transparent) {
	border-width: $bw;
	border-style: $bs;
	border-color: $bc;
}


// @mixins
//
// Border radius top style
@mixin top-radius($border-radius: 4px) {
	border-radius: $border-radius $border-radius 0 0;
}


// @mixins
//
// Border radius right style
@mixin right-radius($border-radius: 4px) {
	border-radius: 0 $border-radius $border-radius 0;
}


// @mixins
//
// Border radius bottom style
@mixin bottom-radius($border-radius: 4px) {
	border-radius: 0 0 $border-radius $border-radius;
}


// @mixins
//
// Border radius left style
@mixin left-radius($border-radius: 4px) {
	border-radius: $border-radius 0 0 $border-radius;
}


// @mixins
// 
// Unordered list
// Style 1
@mixin unordered-list($ta: center, $margin: 0) {
	text-align: $ta;
	list-style: none;
	margin: $margin;
	padding-left: 0;
}
// Style 2
@mixin unordered-list-li($display: inline-block, $margin: 0, $padding: 0) {
	display: $display;
	line-height: $line-height-base;
	margin: $margin;
	padding: $padding;
}
// Style 3
@mixin unordered-list-a($display: block) {
	display: $display;
}


// @mixins
// 
// Right columns
@mixin col-right($width: 100%) {
	float: right;
	width: $width;
}


// @mixins
// 
// Left columns
@mixin col-left($width: 100%) {
	float: left;
	width: $width;
}


// @mixins
//
// Hover styles
@mixin hover-style($color: $color, $under: none) {
	color: $color;
	text-decoration: $under;
}


// @mixins
// 
// Section style
@mixin section-styles($back: $templates-white-color, $ta: center, $padding: 0) {
	background: $back;
	text-align: $ta;
	padding: $padding;

	.row {

		&.row-padding {
			padding-top: ($templates-global-padding * 2);
		}
	}
}
