//
// Services
// --------------------------------------------------


.services-section {
	@include section-styles($padding: ($templates-global-padding * 5) 0);
}

.col-services {
	padding-bottom: $templates-global-padding;

  @media screen and (max-width: $screen-md-800-min) {
    @include center-block();
    width: 70%;
    padding-bottom: ($templates-global-padding * 2);

    &:last-child {
      padding-bottom: 0;
    }
  }

  @media screen and (max-width: $screen-xs-640-min) {
    width: 90%;
  }

  @media screen and (max-width: $screen-xs-320-min) {
    width: 100%;
  }
}

// Icons style
.img-services {
	@include center-block();
  @include size(80px, auto);
  margin-top: 	 $templates-global-padding;
  margin-bottom: ($templates-global-padding + 10);

  &.img-margin {
  	margin-top: 	 14px;
		margin-bottom: ($templates-global-padding + 11);
  }
}
