//
// Subscribe
// --------------------------------------------------


.subscribe-section {
	@include section-styles($back: $gray-darker url(../images/bg-2.png) 0 0 no-repeat, $padding: ($templates-global-padding * 5) 0);
  background-size: cover;
  color: $templates-white-color;

  h2,
  .h2 {
    color: $templates-white-color;

    @media screen and (max-width: $screen-xs-320-min) {
      font-size: 28px
    }
  }
}

@media screen and (max-width: $screen-xs-640-min) {
  .col-subscribe {
    @include center-block();
    width: 70%;
  }
}

@media screen and (max-width: $screen-xs-320-min) {
  .col-subscribe {
    width: 100%;
  }
}

.subscribe-form {
  padding-top:    $templates-global-padding;
  padding-bottom: $templates-global-padding;

  @media screen and (min-width: $screen-sm-min) {
    &.form-inline .form-control {
      width: 300px;
    }
  }

  @media screen and (max-width: $screen-xs-640-min) {
    .btn {
      @include center-block();
      width: 100%;
    }
  }
}

.subscribe-description {
  padding-bottom: $templates-global-padding;
}
