//
// Variables
// --------------------------------------------------


//== Components
$templates-white-color: 											 			 $body-bg !default;
$templates-black-color: 											 			 $gray-dark !default;
$templates-grey-color: 											 				 $gray !default;
$templates-font-base: 												 			 17px !default;
$templates-border-radius: 													 4px !default;
$templates-global-padding: 													 20px !default;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg-1024:                  											1024px !default;
$screen-lg-1024-min:              											$screen-lg-1024 !default;
$screen-lg-1024-desktop:          											$screen-lg-1024-min !default;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md-800:                  											800px !default;
$screen-md-800-min:              		 									$screen-md-800 !default;
$screen-desktop-800:             		 								  $screen-md-800-min !default;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md-768:                  											768px !default;
$screen-md-768-min:              		 									$screen-md-768 !default;
$screen-desktop-768:             		 								  $screen-md-768-min !default;

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs-640:                  											640px !default;
$screen-xs-640-min:              											$screen-xs-640 !default;
$screen-phone-640:               											$screen-xs-640-min !default;

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs-568:                  											568px !default;
$screen-xs-568-min:              											$screen-xs-568 !default;
$screen-phone-568:               											$screen-xs-568-min !default;

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs-480:                  											480px !default;
$screen-xs-480-min:              											$screen-xs-480 !default;
$screen-phone-480:               											$screen-xs-480-min !default;

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs-384:                  											384px !default;
$screen-xs-384-min:              											$screen-xs-384 !default;
$screen-phone-384:               											$screen-xs-384-min !default;

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs-320:                  											320px !default;
$screen-xs-320-min:              											$screen-xs-320 !default;
$screen-phone-320:               											$screen-xs-320-min !default;
