<a
  href="https://github.com/sponsors/dev-yakuza"
  target="_blank"
  rel="noopener"
  style="
    background-color: #e6ebf1;
    background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
    background-position: -0.5em;
    color: #24292e;
    text-decoration: none;
    border: 1px solid rgba(27, 31, 35, 0.35);
    padding: 6px 10px;
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27, 31, 35, 0.2);
    border-radius: 0.25em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 17px;
    font-family: 'Lato', sans-serif !important;
    margin: 10px;
    display: inline-block;
  "
>
  <svg
    style="color: #ea4aaa; vertical-align: text-bottom !important;"
    viewBox="0 0 12 16"
    version="1.1"
    width="16"
    height="20"
    aria-hidden="true"
  >
    <path
      fill-rule="evenodd"
      d="M8.727 3C7.091 3 6.001 4.65 6.001 4.65S4.909 3 3.273 3C1.636 3 0 4.1 0 6.3 0 9.6 6 14 6 14s6-4.4 6-7.7C12 4.1 10.364 3 8.727 3z"
    ></path>
  </svg>
  Github Sponsor
</a>
