<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta http-equiv="Content-Language" content="{{site.active_lang}}">
    <link rel="alternate"
          hreflang="{{site.default_lang}}"
          href=" https://dev-yakuza.github.io{{page.permalink}}" />
    {% for lang in site.languages %}
    {% if lang == site.default_lang %}
      {% continue %}
    {% endif %}
    <link rel="alternate"
        hreflang="{{lang}}"
        href="https://dev-yakuza.github.io/{{lang}}{{page.permalink}}" />
    {% endfor %}

    <meta name="twitter:title" content="{{page.title}}" />
    <meta name="twitter:description" content="{{page.description}}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@DevYakuza" />
    <meta name="twitter:creator" content="@DevYakuza" />

    <title>{{page.title}} - {{page.description}}</title>
    <meta name="description" content="{{ page.description | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

    {% seo title=false %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125408913-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'UA-125408913-1');
    </script>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-7987914246691031",
        enable_page_level_ads: true
      });
    </script>

    {% if site.active_lang == 'ko' %}
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
    {% elsif site.active_lang == 'ja' %}
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
    {% else %}
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    {% endif %}

    <link rel="stylesheet" href="{{"/assets/vendor/bootstrap/css/bootstrap.min.css" | relative_url }}">

    <link rel="stylesheet" href="{{"/assets/vendor/font-awesome/css/font-awesome.min.css" | relative_url }}">

    <link rel="stylesheet" href="{{"/assets/main.css" | relative_url }}?v={{site.time | date: '%Y%m%d'}}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

    <link rel="stylesheet" href="/assets/highlight/railscasts.css">
    <script src="/assets/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>