{% if site.active_lang == 'ko' %}
<div class="in-feed-ads" style="display: flex; width: 100%; height: 300px; justify-content: center; align-items: center;">
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
  {% if thecycle == 'odd' %}
  <div style="width: 300px;">
    <script src="https://ads-partners.coupang.com/g.js"></script>
    <script>
      new PartnersCoupang.G({ id:371043 });
    </script>
  </div>

  <div class="d-sm-none d-md-block" style="flex: 1;">
    <script
        async
        src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
      ></script>
      <ins
        class="adsbygoogle"
        style="display:block; text-align:center;"
        data-ad-layout="in-article"
        data-ad-format="fluid"
        data-ad-client="ca-pub-7987914246691031"
        data-ad-slot="2718813593"
      ></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
  </div>
  {% else %}
  <div class="in-feed-left-ads">
    <script
        async
        src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
      ></script>
      <ins
        class="adsbygoogle"
        style="display:block; text-align:center;"
        data-ad-layout="in-article"
        data-ad-format="fluid"
        data-ad-client="ca-pub-7987914246691031"
        data-ad-slot="2718813593"
      ></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
  </div>

  <div class="d-sm-none d-md-block"  style="width: 300px;">
    <script src="https://ads-partners.coupang.com/g.js"></script>
    <script>
      new PartnersCoupang.G({ id:371043 });
    </script>
  </div>
  {% endif %}
</div>
{% else %}
<div class="in-feed-ads">
  <script
    async
    src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
  ></script>
  <ins
    class="adsbygoogle"
    style="display:block; text-align:center;"
    data-ad-layout="in-article"
    data-ad-format="fluid"
    data-ad-client="ca-pub-7987914246691031"
    data-ad-slot="2718813593"
  ></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
{% endif %}
