<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/icon.png" alt="dev.yakuza blog logo" />
      ヤクザ
    </a>
    <div class="navbar-menu-container">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Category
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% include parts/nav_category_item.html %}
            </div>
          </li>
          <li class="nav-item">
            {% if site.active_lang == 'ja' %}
            <a class="nav-link" target="_blank" href=" /app/list/">Apps</a>
            {% elsif site.active_lang == 'ko' %}
            <a class="nav-link" target="_blank" href=" /app/list/ko/">Apps</a>
            {% else %}
            <a class="nav-link" target="_blank" href=" /app/list/en/">Apps</a>
            {% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact/">Contact</a>
          </li>
        </ul>
      </div>

      <div class="btn-group-sm btn-translate-group dropdown">
        <button
          class="btn btn-default dropdown-toggle"
          type="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fa fa-language" aria-hidden="true"></i>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item menu-ko" href="/ko{{ page.permalink }}"
            >한국어</a
          >
          <a class="dropdown-item menu-en" href="/en{{ page.permalink }}"
            >English</a
          >
          <a class="dropdown-item menu-ja" href="{{ page.permalink }}"
            >日本語</a
          >
        </div>
      </div>

      <button
        class="navbar-toggler navbar-toggler-right"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        Menu
        <i class="fa fa-bars"></i>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Category
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% include parts/nav_category_item.html %}
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact/">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var urlPath = window.location.pathname;
    if (urlPath.indexOf('/en/') >= 0) {
      $('.menu-ko').prop('href', urlPath.replace('/en/', '/ko/'));
      $('.menu-en').prop('href', urlPath);
      $('.menu-ja').prop('href', urlPath.replace('/en/', '/'));
    } else if (urlPath.indexOf('/ko/') >= 0) {
      $('.menu-ko').prop('href', urlPath);
      $('.menu-en').prop('href', urlPath.replace('/ko/', '/en/'));
      $('.menu-ja').prop('href', urlPath.replace('/ko/', '/'));
    } else {
      $('.menu-ko').prop('href', '/ko' + urlPath);
      $('.menu-en').prop('href', '/en' + urlPath);
      $('.menu-ja').prop('href', urlPath);
    }

    $('body').on('show.bs.dropdown', '.dropdown', function() {
      $(this)
        .find('.dropdown-menu')
        .first()
        .stop(true, true)
        .slideDown();
    });

    $('body').on('hide.bs.dropdown', '.dropdown', function() {
      $(this)
        .find('.dropdown-menu')
        .first()
        .stop(true, true)
        .slideUp();
    });
  });
</script>
