<h2>책 홍보</h2>
<div class="book-greeting">
  <code class="highlighter-rouge">스무디 한 잔 마시며 끝내는 React Native</code
  > 책을 출판한지 벌써 2년이 다되었네요.<br />

  이번에도 좋은 기회가 있어서 <code class="highlighter-rouge">스무디 한 잔 마시며 끝내는 리액트 + TDD</code> 책을 출판하게 되었습니다.
  <br /><br />

  아래 링크를 통해 제가 쓴 책을 구매하실 수 있습니다.<br />
  많은 분들에게 도움이 되면 좋겠네요.<br /><br />
  <div class="row" style="display: flex; justify-content: center;">
    <div class="col-lg-6 col-md-6 col-sm-auto col-auto" style="margin-bottom: 40px; display: flex; align-items: center; justify-content: center;">
      <div>
        <a href="https://coupa.ng/bMMos6" target="_blank" referrerpolicy="unsafe-url">
          <img src="https://static.coupangcdn.com/image/affiliate/banner/b95772cbabc4ca68f13398b6d001d523@2x.jpg" alt="스무디 한 잔 마시며 끝내는 React Native, 비제이퍼블릭" style="width: 140px;"/>
        </a>
      </div>
      <div>
        <ul>
          <li>
            쿠팡:
            <a
              target="_blank"
              rel="noopener"
              href="https://coupa.ng/bMMos6"
              referrerpolicy="unsafe-url"
              style="display: inline-block;"
              >구매하기</a
            >
          </li>
          <li>
            yes24:
            <a
              target="_blank"
              rel="noopener"
              href="http://www.yes24.com/Product/Goods/82895471?Acode=101"
              style="display: inline-block;"
              >구매하기</a
            >
          </li>
          <li>
            교보문고:
            <a
              target="_blank"
              rel="noopener"
              href="http://www.kyobobook.co.kr/product/detailViewKor.laf?ejkGb=KOR&mallGb=KOR&barcode=9791190014625&orderClick=LEa&Kc="
              style="display: inline-block;"
              >구매하기</a
            >
          </li>
          <li>
            알라딘:
            <a
              target="_blank"
              rel="noopener"
              href="https://www.aladin.co.kr/shop/wproduct.aspx?ItemId=216744127"
              style="display: inline-block;"
              >구매하기</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-auto col-auto" style="margin-bottom: 40px; display: flex; align-items: center; justify-content: center;">
      <div>
        <a href="https://coupa.ng/b2q2jo" target="_blank" referrerpolicy="unsafe-url">
          <img src="https://static.coupangcdn.com/image/affiliate/banner/b1adb4aa04d9020b64437a41d0eb5d56@2x.jpg" alt="스무디 한 잔 마시며 끝내는 리액트 + TDD, 비제이퍼블릭" style="width: 140px;">
        </a>
      </div>
      <div>
        <ul>
          <li>
            쿠팡:
            <a
              target="_blank"
              rel="noopener"
              href="https://coupa.ng/b2qM3D"
              referrerpolicy="unsafe-url"
              style="display: inline-block;"
              >구매하기</a
            >
          </li>
          <li>
            yes24:
            <a
              target="_blank"
              rel="noopener"
              href="http://www.yes24.com/Product/Goods/102280451"
              style="display: inline-block;"
              >구매하기</a
            >
          </li>
          <li>
            교보문고:
            <a
              target="_blank"
              rel="noopener"
              href="http://www.kyobobook.co.kr/product/detailViewKor.laf?ejkGb=KOR&mallGb=KOR&barcode=9791165920715&orderClick=LAG&Kc="
              style="display: inline-block;"
              >구매하기</a
            >
          </li>
          <li>
            알라딘:
            <a
              target="_blank"
              rel="noopener"
              href="https://www.aladin.co.kr/shop/wproduct.aspx?ItemId=273805547"
              style="display: inline-block;"
              >구매하기</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>