<h2>책 홍보</h2>
<div class="book-greeting">
  저도 블로그를 시작한지 1년만에...책을 다 써봅니다...인생에서 이런 날도
  오는군요...타국에서 책 출판도 할 수 있고, 참 좋은 세상입니다.<br /><br />

  이번에 쓴 책은
  <code class="highlighter-rouge">스무디 한 잔 마시며 끝내는 React Native</code
  >입니다. 다양한 예제를 통해 리액트 네이티브를 공부할 수 있도록 구성해
  보았습니다. 또한 설치부터 배포까지 실전에서도 사용할 수 있는 내용들을 담고
  있습니다.<br /><br />

  아래 링크를 통해 제가 쓴 책을 구매하실 수 있습니다.<br />
  많은 분들에게 도움이 되면 좋겠네요.<br /><br />
  <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 40px;">
    <div  style="margin-right: 20px;">
      <a href="https://coupa.ng/bMMos6" target="_blank">
        <img src="https://static.coupangcdn.com/image/affiliate/banner/b95772cbabc4ca68f13398b6d001d523@2x.jpg" alt="스무디 한 잔 마시며 끝내는 React Native, 비제이퍼블릭" style="width: 140px;"/>
      </a>
    </div>
    <div>
      <ul>
        <li>
          yes24:
          <a
            target="_blank"
            rel="noopener"
            href="http://www.yes24.com/Product/Goods/82895471?Acode=101"
            >구매하기</a
          >
        </li>
        <li>
          교보문고:
          <a
            target="_blank"
            rel="noopener"
            href="http://www.kyobobook.co.kr/product/detailViewKor.laf?ejkGb=KOR&mallGb=KOR&barcode=9791190014625&orderClick=LEa&Kc="
            >구매하기</a
          >
        </li>
        <li>
          알라딘:
          <a
            target="_blank"
            rel="noopener"
            href="https://www.aladin.co.kr/shop/wproduct.aspx?ItemId=216744127"
            >구매하기</a
          >
        </li>
        <li>
          쿠팡:
          <a
            target="_blank"
            rel="noopener"
            href="https://coupa.ng/bMMos6"
            >구매하기</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>