<div>
    <div class="sidebar-nav-item">Category</div>
    <nav class="content-ul">
      {% for category in site.categories %}
      <a href="{{ root_url }}/{{ site.category_dir }}#{{ category | first }}"
         class="sidebar-nav-item pl-3rem">
                            <span class="name">
                                {{ category | first }}
                            </span>
        <span class="badge">{{ category | last | size }}</span>
      </a>
      {% endfor %}
    </nav>
  </div>