---
layout: default
---

<!-- Page Header -->
{% if page.image %}
  <header class="masthead" style="background-image: url('{{ page.image | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
    <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ page.title }}</h1>
            {% if page.description %}
              <span class="subheading">{{ page.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ content }}
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row card-container justify-content-center justify-content-sm-center justify-content-md-start">
      <div class="col-12">
        <h2>Development</h2>
      </div>
      {% assign categories = site.pages | where_exp:"item", "item.categories contains 'development'" %}
      {% for category in categories %}
      {% assign urlSize = category.permalink | replace: 'index.html', '' | split: '/' | size %}
      {% if urlSize == 2 %}
      <div class="col-lg-4 col-md-6 col-sm-auto col-auto">
        <div class="card-content-container" style="background-image: url({{category.image}});">
          <div class="overlay"></div>
          <div class="card-content">
            <div class="card-header">
              <div class="card-title">
                <h3>{{category.title}}</h3>
              </diV>
            </div>
            <div class="card-body">
              <div class="card-body-content">
                  {{category.description}}
              </div>
            </div>
            <a class="card-footer" href="{{category.permalink | replace: 'index.html', ''}}">
              <div>{{ category.see_more }} ▶︎</div>
            </a>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="container">
    <div class="row card-container justify-content-center justify-content-sm-center justify-content-md-start">
      <div class="col-12">
        <h2>Service</h2>
      </div>
      {% assign categories = site.pages | where_exp:"item", "item.categories contains 'service'" %}
      {% for category in categories %}
      {% assign urlSize = category.permalink | replace: 'index.html', '' | split: '/' | size %}
      {% if urlSize == 2 %}
      <div class="col-lg-4 col-md-6 col-sm-auto col-auto">
        <div class="card-content-container" style="background-image: url({{category.image}});">
          <div class="overlay"></div>
          <div class="card-content">
            <div class="card-header">
              <div class="card-title">
                <h3>{{category.title}}</h3>
              </diV>
            </div>
            <div class="card-body">
              <div class="card-body-content">
                  {{category.description}}
              </div>
            </div>
            <a class="card-footer" href="{{category.permalink | replace: 'index.html', ''}}">
              <div>{{ category.see_more }} ▶︎</div>
            </a>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
