---
layout: default
---

<!-- Page Header -->
{%- if page.image -%}
<header
  class="masthead"
  style="background-image: url('{{ page.image | prepend: site.baseurl | replace: '//', '/' }}')"
>
  {%- else -%}
  <header class="masthead">
    {%- endif -%}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ page.title }}</h1>
            {%- if page.description -%}
            <span class="subheading">{{ page.description }}</span> {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container-contents">
    <div class="container">
      <div class="row">
        <div class="col-12">{{ content }}</div>
      </div>
    </div>

    {% include_cached search_bar.html %}

    {%- assign parents = "frontend, backend, development, service, etc" | split:
    ", " -%} {%- assign titles = "Front-End, Back-End, Development, Service, etc" | split: ", " -%} {%- for parent in parents -%}
    <div class="container">
      <div
        class="row card-container justify-content-center justify-content-sm-center justify-content-md-start"
      >
        <div class="col-12">
          <h2>{{ titles[forloop.index0] }}</h2>
        </div>
        {%- assign numbers = "1|2|3|4|5|6|7|8|9" | split: "|" -%} {%- assign
        categories = site.pages | where_exp:"item", "item.categories contains
        parent" | sort: 'title' -%} {%- for category in categories -%} {%-
        assign urls = category.permalink | replace: 'index.html', '' | split:
        '/' -%} {%- assign urlItem = urls | last | slice: 0 -%} {%- if numbers
        contains urlItem -%} {%- else -%}
        <div class="col-lg-4 col-md-6 col-sm-auto col-auto">
          <div
            class="card-content-container"
            style="background-image: url({{ category.image }});"
          >
            <div class="overlay"></div>
            <div class="card-content">
              <div class="card-header">
                <div class="card-title">
                  <h3>{{ category.title }}</h3>
                </div>
              </div>
              <div class="card-body">
                <div class="card-body-content">{{ category.description }}</div>
              </div>
              <a
                class="card-footer"
                {%-
                if
                category.single_page
                -%}
                href=" {{category.permalink | replace: 'index.html', ''}}"
                target="_blank"
                rel="noopener"
                {%-
                else
                -%}
                href="{{category.permalink | replace: 'index.html', ''}}"
                {%-
                endif
                -%}
              >
                <div>{{ category.see_more }} ▶︎</div>
              </a>
            </div>
          </div>
        </div>
        {%- endif -%} {%- endfor -%}
      </div>
    </div>
    {%- endfor -%}
  </div>
</header>
